body {
    background: linear-gradient(333deg, rgba(2,16,77,1) 0%, rgba(0,78,159,1) 100%);
    color: whitesmoke;
    padding-inline: 3%;
    padding-top: 0.5%;
    font-family: "Anonymous Pro";
}
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}

.flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.games-container {
    border: 10px white solid;
    border-radius: 20px;
    height: 80vh;
}
.site-header {
    font-size: 5vh;
}
.contacts